@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply outline-none;

  /* disable mobile browser click/touch/tap feedback box */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  @apply overflow-x-hidden;
}

::selection {
  @apply bg-primary-500 text-white;
}

:root {
  --swiper-navigation-size: 1.5rem !important;
  --swiper-navigation-color: #000 !important;
}

.swiper-pagination-bullet {
  background-color: #E71414 !important;
  width: 30px !important;
  height: 4px !important;
  border-radius: 1rem !important;
}

/* fonts */
/* kh Jrung Thum */

@font-face {
  font-family: 'Kh Jrung Thom';
  src: url('/fonts/Kh Jrung Thom/Kh Jrung Thom Kh Jrung Thom.ttf') format('ttf');
  font-weight: 700;
  font-display: swap;
}

/* Khmer CN Battambang */
@font-face {
  font-family: 'Khmer CN Battambang';
  src: url('/fonts/Khmer CN Battambang/Khmer CN Battambang.ttf') format('ttf');
  font-weight: 300;
  font-display: swap;
}

/* size client */
.gold-logo--wide {
  max-width: 240px !important;
}

.gold-logo--high {
  max-height: 120px !important;
}

.gold-logo {
  width: auto;
  max-width: 150px;
  margin: 10px 20px;
  vertical-align: middle;
  height: auto;
  max-height: 150px;
}